@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Mobile devices (up to 767px) */

 #rent-locations {
   background-color: #fff;
   display: inline-flex;
 }
@media (max-width: 767px) {
  #rent-locations {
    max-width: 100%
  }
}

/* Tablet devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  #rent-locations {
    max-width: 80%
  }
}

/* Desktop devices (992px and above) */
@media (min-width: 992px) {
   #rent-locations {
    max-width: 60%
  }
  .product-head {
    font-size: 10px;
  }
  /* #card {
    width: 20rem;
  } */
}


.my-fix{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-for-image{
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #0D47A1;
  top: 0;
  left: 0;
}

.image-shadow-img{
  position: relative;
  width: 90%;
  height: 90%;
  top: 10%;
  left: 10%;
  object-fit: cover;
}

 img {
    max-width: 100%;
 }

 #nav-header {
   font-family: 'Oswald';
 }

 #list-class {
   margin-right: 17%;
 }

 p {
  font-family: 'Lato';
  font-weight: 100;
 }

 #main {
   background-image: url(img/house.png);
  padding-bottom: 200px;
  }

 #main-2 {
  background-image: url(img/family-image.png);
 }

 #main-2 div {
  padding-bottom: 200px;
  line-height: 30px;
 }

 .border-none {
   border: none;
 }

 .specs {
  font-size: 12px;
 }

 .image-text {
  margin-top: 0px;
 }

 #image-grid-footer {
  margin-top: -10px;
  padding-top: -15px;
  border-top-width: 0.5px;
  border-top-color: black;
  border-top-style: solid;
 }
 #location-text {
  margin-top: -15px;
 }

 .location-grid-footer {
  margin-top: -25px;
 }

 button {
  background-color: #0D47A1;
  color: #fff;
  border: none;
 }

 .btn-group button a:focus {
  color: white;
 }

 .button-color {
  background-color: #fff;
  color: #0D47A1;
  border: 1.5px solid #0D47A1;
 }

#footer {
  background-color: black;
  color: #fff;
}

.footer-text {
  opacity: 0.5;
}
