/* Declaring a variable here */
:root {
    --success-color: rgb(28, 243, 28);
    --error-color: red;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
     font-family: 'Roboto', sans-serif;
 } */

/* Home Section */

.home-container {
    background-image: url('./img/create-acc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    min-height: 90vh;
}

/* .home-container .home-box {
     position: relative;
     top: 20%;
     left: 10%;
 } */

.home-box span {
    color: white;
    letter-spacing: 1px;
}

.home-box h1 {
    color: white;
    margin: 10px 0px 10px 0px;
    letter-spacing: 1px;
    font-size: 40px;
}

.home-box p {
    color: white;
    width: 400px;
    font-size: 16px;
}

.home-box form {
    margin-top: 55px;
    width: 570px;
    height: 45px;
    display: flex;
}

.home-box form label {
    background: white;
    margin-right: 2px;
    outline: none;
    border: none;
    padding: 10px 10px 10px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: black;

}

#chevron-icon {
    font-size: 15px;
    margin: 5px 0px 5px 5px;
}

#sear-form {
    flex: 1;
    background: white;
    border: none;
    outline: none;
    padding-left: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 20px;
}

form .fa-magnifying-glass {
    align-self: center;
    position: absolute;
    left: 92%;
}

/* create account box */
/*.create-acc-box {
     background-image: url('img/img2.jpg');
     background-size: cover;
     background-position: right bottom;
     height: 100vh;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     display: flex;
     justify-content: right;
     margin: 0;
 
 
 }*/

.form-box-login {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.form {
    padding: 20px 40px;
}

.input-box {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.input-box label {
    display: block;
    color: gainsboro;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    display: block;
    height: 30px;
    padding: 10px;
    font-size: 15px;
}

/* Assigning a variable here that is declared at the top of this program i.e the root on top */
.input-box.success input {
    border-color: var(--success-color);
}

.input-box.error input {
    border-color: var(--error-color);
}

.input-box small {
    color: var(--error-color);
    position: absolute;
    left: 0;
    /* visibility should be hidden here. It will be displayed in javascript */
    visibility: hidden;
}

.input-box.error small {
    visibility: visible;
}

form button {
    width: 100%;
    background: darkblue;
    color: white;
    border: 2px solid darkblue;
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;

}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: -9em;
    font-weight: 500;
}

.remember-forgot label {
    color: white;
}

.form-box-login p {
    text-align: center;
    color: white;
}

/* social-link */

.social-link ul {
    display: flex;
    justify-content: center;
    text-align: center;

}

.social-link ul li {
    list-style: none;
    background: white;
    margin: 0px 5px;
    padding: 5px 25px;
    border: 2px solid white;
    border-radius: 7px;
}

.social-link ul li img {
    max-width: 20px;

}

.social-link p {
    color: white;
}